/ {
    xy_snap: xy_snap {
        compatible = "zmk,xy-snap-input-processor";
        #input-processor-cells = <0>;
        
        idle-timeout-ms = <300>;
        switch-threshold = <50>;
        initial-threshold = <10>;
        // allow-axis-switch;
        status = "okay";
    };
}; 